.formcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.formcontainer form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: .7rem;
}
.formcontainer h1{
    font-size: 26px;
}
form input{
    font-size: 16px;
    height: 35px;
    margin-bottom: 1rem;
    margin-top: .3rem;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #056676;
    padding: 0 20px;
}
form label{
    font-size: 18px;
    text-transform: capitalize;
}
form button{
    width: fit-content;
    margin: 0 auto;
    padding: 5px 25px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
form button .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}
form button:hover .bg{
    width: 100%;
}
form .subtitle{
    width: fit-content;
    margin: 10px auto 0;
    
}